<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center" style="background-color: #0066b2;">
            <h5><span class="text-danger">At</span><span class="text-white">Drive Task Area</span></h5>
        </div>
    </div>

    <div class="row">
        <div class="col mx-5 my-5">
            <div class="table-responsive">
                <div class="input d-sm-flex mb-2">
                    <input type="email" class="form-control me-2" [(ngModel)]="SearchData" name="search" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <table class="table">
                  <thead >
                    <tr >
                      <th class="text-white"  style="background-color: #0066b2;">Sl No</th>
                      <th class="text-white"  style="background-color: #0066b2;">Name</th>
                      <th class="text-white"  style="background-color: #0066b2;">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users | searchPipe:SearchData; let i=index">
                      <th scope="row">{{user.id}}</th>
                      <th scope="row">{{user.name}}</th>
                      <!-- <th scope="row">{{user.username}}</th> -->
                      <th scope="row">{{user.email}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div>
